.AuctionCard {
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(173, 173, 173, 0.75);

  h2 {
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 0;
  }

  .Image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px 5px 0 0;
    position: relative;
    flex: 0 0 auto;

    .Description {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      color: #ffffff;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .Inner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;

    > div {
      padding: 10px;
    }

    .BidInformation {
      flex: 0 0 auto;

      .TimeLeft span {
        font-weight: bold;
        color: #ff6d4a;
        font-size: 1.4em;
      }

      .LastBid span {
        font-weight: bold;
        color: #3eb871;
        font-size: 1.4em;
      }
    }

    .CarInformation {
      flex: 0 0 auto;
      color: #323232;
      font-weight: bold;
    }

    .Additional {
      flex: 0 0 auto;
    }

    .Actions {
      flex-grow: 1;
      padding: 0;
      display: flex;

      .Button {
        margin-top: 10px;
        align-self: flex-end;
        width: 100%;
      }
    }
  }
}
