body {
  background-color: #ebebeb;
  font-family: 'Open Sans', Arial;
  // font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.HasBorderTop {
  border-top: 2px solid #e4e4e4;
}

.HasBorderRight {
  border-right: 2px solid #e4e4e4;
}

.HeaderContainer {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 15px;

  .Header {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    flex: 0 0 auto;
    display: flex;
    position: relative;
    flex-direction: row;

    > div {
      flex: 0 0 auto;
    }

    .Logo {
      padding-right: 30px;
    }

    .Phone {
      padding-left: 30px;
      padding-right: 10px;
      margin-top: 10px;
    }

    .User {
      align-self: right;
      border-top: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      border-left: 1px solid #e4e4e4;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 30px;
    }
  }
}

.Button {
  color: #ffffff;
  border-radius: 5px;
  background-color: #3eb871;
  text-transform: uppercase;
  padding: 10px 5px;
  font-size: 0.8em;

  &:hover {
    cursor: pointer;
  }
}

.Col-2 {
  display: flex;
  flex-direction: row;
  > div {
    width: 50%;
  }
}